.fave img{
    max-width: 150px;
    height:auto;
}

.fave{
    border: solid .5px #152D46;
    box-shadow: 1px 1px 3px rgb(190, 190, 190);
    border-radius: 10px;
    width: 190px;
    max-height: 350px;
    padding: 15px 10px;
    background-color: white;
}

.fave p{
    color: black;
    border: none;
    z-index: 100px;
    overflow: hidden;
    padding:5px;
    flex-wrap: wrap;
    max-height: 50px;
}

.fave a{
    color: rgb(8, 8, 182);
    border: solid 1px white;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgb(167, 167, 167);
    padding: 5px;
}