#banner{
    background-color: rgba(255, 255, 255, 0.87);
    border: 1px solid none;
    padding: 30px 5px;
    position: absolute;
    z-index:10;
    top: 45%;
    width: 70%;
    font-size: 15px;
    text-align: center;
    
}

#text{
    font-size:25px;
    font-family: 'Roboto', sans-serif;
}

#subtext{
    font-family: 'Vollkorn', serif;
}

@media only screen and (max-width: 600px) {
    #text{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }

    #banner{
        top: 18%;
        width:90%;
        padding: 20px 0px;
    }
}