#leftSide{
    width:70%;
    padding:20px;
}

#rightSide{
    width: 30%;
    background-color: grey;
    padding:20px;
}

@media only screen and (max-width: 600px) {
    #rightSide{
        display: none;
    }
    #leftSide{
        width:100%;
    }
}