#title{
    width:inherit;
    height: inherit;
    margin-top: 8px;
    font-family: 'Architects Daughter', cursive;
    font-weight: 550;
}
#logo{
    height:20px;
    width: 20px;
}
#bottom{
    margin-top: -62px;
}