#signinContainer{
    margin-top: 10%;
    width:min-content;
}

#signinCard{
    border: solid grey 1px;
    padding:25px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgb(165, 165, 165);
}
@media only screen and (max-width: 600px){
    #signinContainer{
        margin-top: 30%;
    }
}