body{
  background-color:rgb(252, 252, 252);
  font-family: 'Merriweather', serif;
}

ul {
  list-style-type: none;
}

#bar{
  background-color:rgba(0, 0, 0, 0.918);
  height: 100%;
  position: fixed;
  z-index: 200;
  right: 0;
  top: 0;
  overflow-x: hidden;
  width: 0px;
  transition: 0.5s;
  padding-top: 80px;
}

#bar a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  display: block;
}

#bar a:hover {
  color: turquoise;
}

#bar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

#openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 15px;
  border: none;
}

#openbtn:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.788);
}

.barIcon{
  margin-right: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-width: 600px) {
  #bar a {
    font-size: 18px;
    padding-left: 40px;
  }
}